.item{
    background-color: blue;
    color: aliceblue;
    padding: 10px 30px;
    border:2px black solid;
    margin: 5px;
    width: 50%;
    display: flex;
}

.button{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.name{
    flex:1.5;
    justify-self: flex-start;
    font-weight: bold;
    font-size: small;
    display: flex;
}

.form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form input{
    border-color: blue;
    height: 30px;
    width: 500px;
    font-size: medium;
}

button{
    font-weight: bold;
    font-size: small;
}

.form button{
    background-color: blue;
    color:wheat;
    height: 30px;
    width: 150px;
    margin-left: 20px;

}

.done{
    text-decoration: line-through;
    opacity: 0.5;
}

.btn{
    margin: 0px 5px;
    background-color: rgb(112, 112, 236);
    color:white;
}